/*
==============================
= Amazon Tracker Style Sheet =
==============================
====== By Milan Donhowe ======
==============================
*/



/*
====================
= Page-Wide Styles =
====================
*/

* {
    font-family: 'Roboto', sans-serif;
    font-size:130%;
    text-align:center;
    font-weight: bold;
    color:#a07518;
    background-color: hsl(61, 100%, 50%);
    padding:0;
    margin:0;
    /*was 180px*/
    width:180px;
}
/*
=================
= Button Styles =
=================
*/
.btn{
    border: 0px;
    border-top:0px black dashed;
    border-bottom:0px black dashed;
    margin-top:10px;
    width:100%;
    background-color:rgba(244, 188, 66, 0.8);
    color:#a07518;
    text-align:left;
}
.btn:hover{
    background: #e8c476;
}

/*
=====================
= Header Tag Styles =
=====================
*/

h1 {
    background-color:hsl(59, 100%, 50%);
}

h2{
    border-top:0px black dashed;
    padding:2px;
    margin-top:20px;
    font-size:10px;
    /*background-color:#e5e1d7;*/
}

h6 {
    font-size:9px;
}



/*
================
= Table Styles =
================
*/


/*NOTE TABLE styles are mostly controlled by inline stylesheet for products.html*/
td{
    font-size:9px;
    border:1px black solid;
}

a {
    font-size:inherit;
}
